html,body {
  height: 100%;
  margin: 0;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
body {
  display: flex;
  flex-direction: row;
}
.banner {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  background-color: #ddd;
}
.con-banner {
  height: 100%;
  width: 4px;
  background-color: #aaa;
}
.content {
  display: flex;
  flex-direction:column;
  height: 100%;
  width: 100%;
}
.header {
  display: flex;
  width: 100%;
  height: 80px;
  font-size: 35px;
  align-items: center;
  justify-content: center;
}
.bodyer {
  align-items: flex-start;
  align-content: flex-start;
  flex-direction:column;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}
.writer {
  position: relative;
  margin: 0 auto;
  padding: 10px;
  background-color: #eee;
  border: 3px solid #ccc;
  border-radius: 10px;
}
.read {
  height: 470px;
  background-color: #ccc;
  width: 730px;
  margin: 10px 0;
}
.real-font {
  line-height: 80px;
  position: relative;
  top: -25px;
  width: 722px;
  margin: 0 auto;
  font-size: 24px;
  word-break: break-all;
  overflow: hidden;
  height: 498px;
  font-family: cursive;
}
.hit {
  line-height: 80px;
  background-color: rgba(255, 0, 0, 0);
  border: none;
  position: absolute;
  top: 30px;
  width: 722px;
  margin: 0 2px;
  font-size: 24px;
  word-break: break-all;
  overflow: hidden;
  height: 498px;
  resize: none;
  outline: none;
  font-size: 24px;
  font-family: cursive;
}
.cover {
  width: 730px;
  height: 36px;
  position: absolute;
  background-color: #fff;
}
.cover1 {
  top: 54px;
}
.cover2 {
  top: 134px;
}
.cover3 {
  top: 214px;
}
.cover4 {
  top: 294px;
}
.cover5 {
  top: 374px;
}
.cover6 {
  top: 454px;
}
.counter {
  display: inline-flex;
  width: 722px;
  border: 2px solid #ccc;
  font-size: 24px;
  border-radius: 15px;
  padding: 20px 15px;
  margin: 0 auto;
  margin-top: 30px;
}
.counter ul {
  margin: 0 auto;
  padding: 0;
  display: inline-flex;
  list-style-type: none;
}
.counter ul li {
  padding: 0 20px;
}
